
*{
    padding:0px;
    margin:0px;
    color:rgb(42, 39, 39);
  
}
.section{
    position:relative;
    display:flex; 
    flex-direction: column;   
    width:100vw;
    aspect-ratio:1/2;
    background-image:linear-gradient(45deg,#2563EB,#6D28D9,#DB2777);
    background-repeat:no-repeat;
}

h1{
    color:red;
}

.glass{
    
    position:absolute;
    border:2px solid white;
    padding:1rem 1rem; 
    width:40%;
     
    aspect-ratio:15/16;
     border-radius:1rem;
     background-color: rgba(2555,255,255,0.2);
    backdrop-filter:blur(10px);
    border:1px solid white;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.3); 

}
.field{
    border-radius:5px;
    border:1px solid black;
    padding:0.2rem;
    padding-left:0.5rem;
    background-color:transparent;
    width:15em;
}

.form{
    display: flex;
    flex-direction: column;
    gap:1.3rem;
    
}